{% extends 'usuarios/base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="p-5 mb-4 bg-white rounded-3 shadow-sm">
            <h1 class="display-5 fw-bold">Bienvenido/a, {{ user.first_name }} {{ user.last_name }}</h1>
            <p class="fs-4 text-muted">Has iniciado sesión como <strong>{{ user.rol.nombre }}</strong> en la plataforma Joaju.</p>
            <hr class="my-4">
            <p>Módulo de Autenticación (HU01 / JOA-26) verificado de extremo a extremo.</p>
        </div>
    </div>
</div>
{% endblock %}